<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-offset mdl-cell--10-col">
        <h1 class="mdl-typography--text-center">For this part of the questionnaire you’ll need a soft fabric tape measure.</h1>
    </div>
</div>
<question-handler ng-repeat="question in $resolve.question2" data="question"></question-handler>

<div class="mdl-grid">
    <question-handler data="$resolve.question2[5]"></question-handler>
    <question-handler data="$resolve.question2[6]"></question-handler>
</div>
