<div class="md.-grid--outline" ng-switch="$ctrl.optionsType">
    <div ng-switch-when="button" class="mdl-cell mdl-cell--8-col">
        <h2 class="mdl-color-text--white mdl-typography--text-center">
            {{$ctrl.statement}}
        </h2>
    </div>
    <div ng-switch-when="radio" class="mdl-cell mdl-cell--6-col">
        <h2 class="mdl-color-text--white">
            {{$ctrl.statement}}
        </h2>
    </div>
</div>

<div class="mdl-grid" ng-switch="$ctrl.optionsType">
    <div ng-switch-when="button" class="mdl-cell mdl-cell--8-col mdl-typography--text-center" >
        <span ng-repeat="option in $ctrl.options">
            <button ng-click="$ctrl.answerQuestion(option)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--white center">
                {{option.name}}<!--<i class="material-icons">check</i>-->
            </button>
        </span>
    </div>
    <div ng-switch-when="radio" class="mdl-cell mdl-cell--6-col">
        <div ng-repeat="(key, option) in $ctrl.options">
            <div class="mdl-cell mdl-cell--12-col">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                    <input ng-model="$ctrl.radiofield" ng-change="$ctrl.answerQuestion(option)" type="radio" class="mdl-radio__button" name="close-question-radio" value="{{key}}">
                    <span class="mdl-radio__label text-medium-size">{{option.name}}</span>
                </label>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--middle" ng-if="$ctrl.optionsType === 'radio'">
        <button ng-click="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent right">
            <i class="material-icons">arrow_forward</i>
        </button>
    </div>
</div>
