<dialog class="mdl-dialog">
<h5 class="mdl-dialog__title">New Activity</h5>
<div class="mdl-dialog__content">
    <p>
        <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
            <input ng-model="$ctrl.activity" class="mdl-textfield__input" type="text" id="textfield-other">
            <label class="mdl-textfield__label" for="textfield-other"></label>
        </div>
    </p>
</div>
<div class="mdl-dialog__actions">
    <button type="button" class="mdl-button" ng-click="$ctrl.add()">Add</button>
    <button type="button" class="mdl-button" ng-click="$ctrl.close()">Close</button>
</div>
</dialog>


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2 class="mdl-typography--text-center">{{$ctrl.statement}}</h2>
    </div>
</div>
<div class="week-container">
    <div ng-repeat="(i, obj) in $ctrl.answer" class="day-item">
        <h3>{{obj.label}}</h3>
        <span ng-repeat="(j, val) in obj.value" class="mdl-chip mdl-chip--deletable">
            <span class="mdl-chip__text">{{val.activity}}</span>
            <button ng-click="$ctrl.deleteActivity(i, j)" type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
        </span>
        <button ng-click="$ctrl.showModal(obj)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="button-{{i}}">
            <i class="material-icons">add</i>
        </button>
        <div class="mdl-tooltip" data-mdl-for="button-{{i}}">
            Click <strong>me!</strong>
        </div>
    </div>
</div>