<div class="md-grid set-down">
    <div class="mdl-cell mdl-cell--12-col">
        <h1 class="mdl-color-text--white mdl-typography--text-center">
            {{$ctrl.statament}}
        </h1>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center" >
        <span ng-repeat="answer in $ctrl.answers">
            <button ng-click="$ctrl.getAnswer(answer.value)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--white center">
                {{answer.name | uppercase}}<!--<i class="material-icons">check</i>-->
            </button>
        </span>
    </div>
</div>
